---
import { Image } from "astro:assets";

// images
import Title from "@components/Title/Title.astro";
import iglesia from "@images/Icono-Boho-1.png";
import copas from "@images/Icono-Boho-4.png";
import comida from "@images/Icono-Boho-5.png";
import fiesta from "@images/Icono-Boho-7.png";
import maletas from "@images/Icono-viajes-boda-7.png";

const schedule = [
	{ icon: iglesia, time: "17:00", event: "Ceremonia" },
	{ icon: copas, time: "19:30", event: "Cóctel de Bienvenida" },
	{ icon: comida, time: "21:00", event: "Cena" },
	{ icon: fiesta, time: "23:00", event: "Fiesta" },
];
---

<section
	class="desktop:mx-auto desktop:gap-10 mx-auto mb-14 flex max-w-6xl flex-wrap items-center justify-center gap-20 text-center"
>
	<div class="desktop:w-[45%]">
		<Image src={maletas} class="mx-auto w-32" alt="wedding" aria-hidden="true" height={400} />
		<Title title="Itinerario" />
		<ul>
			{
				schedule.map(({ icon, time, event }) => (
					<li>
						<Image src={icon} class="mx-auto w-32" alt="wedding" aria-hidden="true" height={400} />
						<span class="text-[20px] font-normal">
							{" "}
							{time} - {event}{" "}
						</span>
					</li>
				))
			}
		</ul>
	</div>
</section>
