---
import { Image } from "astro:assets";

// images
import Title from "@components/Title/Title.astro";
import siteData from "@config/siteData.json";
import maletas from "@images/Icono-viajes-boda-7.png";

const { schedule } = siteData.wedding;
---

<section
	class="desktop:mx-auto desktop:gap-10 mx-auto mb-14 flex max-w-6xl flex-wrap items-center justify-center gap-20 text-center"
>
	<div class="desktop:w-[45%]">
		<Image src={maletas} class="mx-auto w-32" alt="wedding" aria-hidden="true" height={400} />
		<Title title="Itinerario" />
		<ul>
			{
				schedule.map(({ icon, time, event }) => (
					<li>
						<Image src={icon} class="mx-auto w-32" alt="wedding" aria-hidden="true" height={400} />
						<span class="text-[20px] font-normal">
							{" "}
							{time} - {event}{" "}
						</span>
					</li>
				))
			}
		</ul>
	</div>
</section>
