---
import Divider from "@components/Countdown/Divider.astro";
import Title from "@components/Title/Title.astro";

const TIMESTAMP_END = 1749402000;
---

<section
	id="countdown"
	class="desktop:px-16 background-[#F5F5F5] mx-auto flex w-full flex-col items-center justify-center pt-20 pb-10 text-center"
>
	<Title title="¿Cuánto falta para la boda?" />
	<div data-date={TIMESTAMP_END} class="mt-5 flex flex-row">
		<div class="flex flex-col border-r-[1px] border-[#ffffff] px-5">
			<span data-days class="desktop:text-7xl font-decorative text-4xl text-[#a7727d]"> 00 </span>
			<span class="desktop:text-[25px] font-heading text-[#a48869]"> DIAS </span>
		</div>

		<div class="flex flex-col border-r-[1px] border-[#ffffff] px-5">
			<span data-hours class="desktop:text-7xl font-decorative text-4xl text-[#a7727d]"> 00 </span>
			<span class="desktop:text-[25px] font-heading text-[#a48869]"> HORAS </span>
		</div>

		<div class="flex flex-col border-r-[1px] border-[#ffffff] px-5">
			<span data-minutes class="desktop:text-7xl font-decorative text-4xl text-[#a7727d]">
				00
			</span>
			<span class="desktop:text-[25px] font-heading text-[#a48869]"> MIN </span>
		</div>
		<div class="flex flex-col px-5">
			<span data-seconds class="desktop:text-7xl font-decorative text-4xl text-[#a7727d]">
				00
			</span>
			<span class="desktop:text-[25px] font-heading text-[#a48869]"> SEG </span>
		</div>
	</div>
	<Divider />
</section>
<script>
	const SECOND = 1000; //1000ms
	const MINUTE = SECOND * 60; // 60s -> 60000ms
	const HOUR = MINUTE * 60; // 60m -> 3600s -> 360000ms
	const DAY = HOUR * 24;
	function init() {
		const $countdown = document.querySelector("[data-date]");
		if (!$countdown) return;
		const $days = $countdown.querySelector("[data-days]");
		const $hours = $countdown.querySelector("[data-hours]");
		const $minutes = $countdown.querySelector("[data-minutes]");
		const $seconds = $countdown.querySelector("[data-seconds]");

		const timestamp = $countdown.getAttribute("data-date");
		if (!timestamp) return;

		const date = new Date(+timestamp * 1000).getTime();

		const formatTime = (time: number) => {
			return Math.floor(time).toString().padStart(2, "0");
		};

		function updateCountdown() {
			const now = Date.now();
			const diff = date - now;

			if ($days instanceof HTMLElement) {
				$days.innerText = formatTime(diff / DAY);
			}
			if ($hours instanceof HTMLElement) {
				$hours.innerText = formatTime((diff % DAY) / HOUR);
			}
			if ($minutes instanceof HTMLElement) {
				$minutes.innerText = formatTime((diff % HOUR) / MINUTE);
			}
			if ($seconds instanceof HTMLElement) {
				$seconds.innerText = formatTime((diff % MINUTE) / SECOND);
			}
		}

		setInterval(updateCountdown, SECOND);
	}
	init();
</script>
<style>
	section {
		width: 100%;
		background-color: #f2eae0;
	}
</style>
