---
// layout
import BaseLayout from "@layouts/BaseLayout.astro";

// components
import { getSortedExperiences } from "@/utils/content-utils";
import ExperienceGrid from "@components/Experience/ExperienceGrid.astro";
import siteData from "@config/siteData.json";

const { sortBy, orderBy } = siteData.experiences.experiencePage;
const experiences = await getSortedExperiences(sortBy, orderBy);
---

<BaseLayout title="Experiences" description="Experience page for my projects and work.">
	<div class="site-container pt-24 md:pt-36">
		<div class="mx-auto max-w-6xl text-center">
			<h1 class="h2 text-pretty uppercase">Nuestros mejores momentos a lo largo del tiempo.</h1>
		</div>
		<ExperienceGrid experiences={experiences} />
	</div>
</BaseLayout>
