---
import { getCollection } from "astro:content";

// layout
import BaseLayout from "@layouts/BaseLayout.astro";

// components
import Contact from "@components/Contact/Contact.astro";
import ExperienceGrid from "@components/Experience/ExperienceGrid.astro";
import TestimonialQuote from "@components/Testimonials/TestimonialQuote.astro";

const experiences = await getCollection("experiences", ({ data }) => {
	// filter out draft pages
	return data.draft !== true;
});
---

<BaseLayout title="Experiences" description="Experience page for my projects and work.">
	<div class="site-container pt-24 md:pt-36">
		<div class="mx-auto max-w-6xl text-center">
			<h1 class="h2 text-pretty uppercase">
				The moments you'll want to relive in a timeless, romantic, and artistic style.
			</h1>
		</div>
		<ExperienceGrid experiences={experiences} />
	</div>

	<TestimonialQuote />

	<Contact class="mt-12" />
</BaseLayout>
