---
import Title from "@components/Title/Title.astro";
import LocationCard from "./LocationCard.astro";

// images
import destino from "@images/Icono-viajes-boda-1.png";
import escala from "@images/Icono-viajes-boda-6.png";
import iglesia from "@images/IglesiaB.jpeg";
import sauces from "@images/Sauces.jpg";
---

<section
	id="locations"
	class="site-container max-w-md scroll-mt-10 px-4 py-8 md:max-w-6xl md:py-12"
>
	<Title title="RUTA" />
	<div class="grid gap-8 md:grid-cols-2 md:gap-12">
		<LocationCard
			icon={escala}
			image={iglesia}
			title="Escala"
			location="Iglesia de la Asunción Molina de Segura"
			direction="Dirección: Pl. Iglesia, s/n, 30500 Molina de Segura, Murcia"
			buttonText="¿Cómo llegar?"
			buttonLink="https://g.co/kgs/oGj9p3V"
		/>
		<LocationCard
			icon={destino}
			image={sauces}
			title="Destino"
			location="Finca Los Sauces"
			direction="Dirección: Ctra. De la Palma, km 4, 5, 30395 Cartagena, Murcia"
			buttonText="¿Cómo llegar?"
			buttonLink="https://g.co/kgs/H33srLC"
		/>
	</div>
</section>
