---
import Divider from "@components/Divider/Divider.astro";
import MessageCard from "@components/Message/MessageCard.astro";
import Title from "@components/Title/Title.astro";
import { Image } from "astro:assets";

import corazon from "@images/heard-message.gif";
import novia from "@images/novia.jpg";
import novio from "@images/novio.jpg";
---

<section>
	<div
		class="phone:w-full phone:px-2 desktop:mb-14 desktop:mt-24 text-color01 mx-auto mt-12 mb-12 flex max-w-[1140px] flex-col items-center justify-center gap-3"
	>
		<Title title="Mensaje de los Pilotos" />
		<span class="font-rubik desktop:text-xl text-center font-extralight">
			Nos complace dar una bienvenida especial a todos los que nos acompañarán en este viaje.
		</span>
		<Image
			src={corazon}
			alt="gift de corazón"
			width={450}
			class="mx-auto w-28"
			decoding="async"
			loading="lazy"
		/>
	</div>
	<div
		class="desktop:gap-4 mx-auto flex max-w-[1140px] flex-row flex-wrap items-center justify-center gap-8"
	>
		<MessageCard
			person="Nuria"
			message={`Nuestra familia y amigos son la brújula que nos ha guiado hasta aquí, y queremos que estéis a nuestro lado en este nuevo capítulo. Si has recibido esta invitación es porque te consideramos una persona importante en nuestra vida, y sabemos que este vuelo no sería lo mismo sin la presencia de quienes más amamos.¡Gracias por ser parte de nuestra historia! ¿Nos acompañas? `}
			image={novia}
		/>

		<MessageCard
			person="Cristian"
			message={`Cada minuto es importante y especial, como todos los que ya hemos vivido, este no va a ser diferente. Pensamos en ti y en cómo formas parte de nuestra historia. Por eso, espero que nos puedas acompañar en un día muy especial para nosotros y tener, una vez más, la oportunidad de pasar un momento de infinita felicidad ante una decisión tan importante. ¡Te esperamos!`}
			image={novio}
		/>
	</div>
	<Divider />
</section>
<style></style>
