---
import countdownImage from "@assets/images/besoR.jpg";
import frame from "@assets/images/frame-1.png";
import ImageWithFrame from "@components/ImageWithFrame/ImageWithFrame.astro";
import siteData from "@config/siteData.json";
import Countdown from "./Countdown";
const date = new Date(siteData.wedding.date);
---

<section
	id="wedding-countdown"
	class="item mx-auto w-full scroll-mt-10 bg-[#fde9e2] px-4 py-6 sm:px-6 sm:py-8 md:max-w-6xl md:rounded-2xl md:px-8 md:py-12 lg:py-16"
>
	<div class="mx-auto grid justify-center gap-8 sm:gap-12 md:grid-cols-2 md:items-center md:gap-16">
		<div class="max-w-lg">
			<ImageWithFrame image={countdownImage} frame={frame} alt="wedding rings" width={450} />
		</div>
		<div class="text-center md:text-left">
			<Countdown targetDate={date} client:only />
		</div>
	</div>
</section>
